<app-header></app-header>
<p>employees-list works!</p>
<div class="container ">
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date of birth</th>
                    <th>Position</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.dateOfBirth | date: 'shortDate'}}</td>
                    <td appManager="yellow">{{ employee.position | positionUppercased}}</td>
                    <td [ngClass]="{'high-salary': employee.salary > 3500}">{{ employee.salary | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>